#Add syntax highlighting to LESS with `brew install lesspipe`
export LESSOPEN="|/usr/local/bin/lesspipe.sh %s" LESS_ADVANCED_PREPROCESSOR=1
export LESS=' -R -N -S'

export GOPATH=$HOME/src/go
export "ANDROID_HOME=/usr/local/opt/android-sdk"
export ANDROID_SDK_ROOT="/Users/asemple/Library/Android/sdk"
